.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.window {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

.subContainer {
    height: 100%;
    width: 50%;
    margin: auto;
}
.loginImage {
    padding: 0;
    max-height: 100vh;
}

.loginContainer {
    width: 80%;
    height: 100%;
    margin: auto
}

.inputBox {
    font-size: small;  
    width: 100%;
    margin-bottom: 15vh;
}

.inputTitle {
    margin-bottom: 5vh;
    text-align: center;
    font-size: x-large;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
}

.button {
    padding: 0.5rem;
    background-color: khaki;
    border-radius: 0.5rem;
}

.input {
    height: 2rem;
    width: 100%;
    padding: 0.5rem;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
    background-color: khaki;

}